In [82]:
import pandas as pd

In [83]:
movies = pd.read_csv('data/tmdb-movies-220915.csv')
movies = movies.convert_dtypes()

In [84]:
movies.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
0,760741,Beast,Thriller-Horror,en,A recently widowed man and his two teenage dau...,5056.663,Universal Pictures-Will Packer Productions-RVK...,2022-08-11,0.0,47000000.0,93,Released,Fight for family.,7.1,284,Idris Elba-Leah Jeffries-Iyana Halley-Sharlto ...,wild animal,/iRV0IB5xQeOymuGGUBarTecQVAl.jpg,/2k9tBql5GYH328Krj66tDT9LtFZ.jpg,718930-1008014-539681-755566-791155-766507-614...
1,610150,Dragon Ball Super: Super Hero,Animation-Science Fiction-Action,ja,The Red Ribbon Army an evil organization that ...,3762.862,Shueisha-Fuji Television Network-Toei Animatio...,2022-06-11,0.0,70000000.0,99,Released,A super awakening and calamity is born.,8.003,1563,Masako Nozawa-Toshio Furukawa-Yuko Minaguchi-H...,android-sequel-attack-based on manga-fighting-...,/rugyJdeoJm7cSJL1q4jBpTNbxyU.jpg,/ugS5FVfCI3RV0ZwZtBV3HAV75OX.jpg,507086-629015-616037-810693-361743-438148-7788...
2,579974,RRR,Action-Drama,te,A fictional history of two legendary revolutio...,3684.786,Lyca Productions-DVV Entertainment-Pen Studios,2022-03-24,69000000.0,160000000.0,182,Released,"Rise, roar, revolt.",7.858,331,N.T. Rama Rao Jr.-Ram Charan-Alia Bhatt-Ajay D...,revolution-liberation-freedom fighter-british ...,/wE0I6efAW4cDDmZQWtwZMOW44EJ.jpg,/i0Y0wP8H6SRgjr6QmuwbtQbS24D.jpg,601337-889741-587412-766116-792358-680058-2372...
3,532639,Pinocchio,Fantasy-Adventure-Family,en,A wooden puppet embarks on a thrilling adventu...,3680.307,Walt Disney Pictures-Depth of Field,2022-09-07,0.0,0.0,111,Released,The timeless classic.,6.789,411,Tom Hanks-Benjamin Evan Ainsworth-Luke Evans-C...,fairy-musical-puppet-live action and animation...,/g8sclIV4gj1TZqUpnL82hKOTK3B.jpg,/lv4mA4jOnRSQCkmDYUyZ8ON43Dc.jpg,<NA>
4,616037,Thor: Love and Thunder,Fantasy-Action-Comedy,en,After his retirement is interrupted by Gorr th...,3643.289,Marvel Studios-Kevin Feige Productions,2022-07-06,250000000.0,758004063.0,119,Released,The one is not the only.,6.803,3233,Chris Hemsworth-Natalie Portman-Christian Bale...,ex-girlfriend-hero-greek mythology-sequel-supe...,/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg,/jsoz1HlxczSuTx0mDl2h0lxy36l.jpg,2-438148-45920-507086-361743-919355-748918-718...

In [85]:
print('Number of entries: ',movies.shape[0])
print('Number of unique ids: ',movies.id.nunique())

Number of entries:  747532
Number of unique ids:  662083

In [86]:
movies = movies.drop_duplicates(subset='id', keep='last')
movies.index = movies.id
movies = movies.drop(columns=['id'])
movies.head()

,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
id,,,,,,,,,,,,,,,,,,,
760741,Beast,Thriller-Horror,en,A recently widowed man and his two teenage dau...,5056.663,Universal Pictures-Will Packer Productions-RVK...,2022-08-11,0.0,47000000.0,93,Released,Fight for family.,7.1,284,Idris Elba-Leah Jeffries-Iyana Halley-Sharlto ...,wild animal,/iRV0IB5xQeOymuGGUBarTecQVAl.jpg,/2k9tBql5GYH328Krj66tDT9LtFZ.jpg,718930-1008014-539681-755566-791155-766507-614...
610150,Dragon Ball Super: Super Hero,Animation-Science Fiction-Action,ja,The Red Ribbon Army an evil organization that ...,3762.862,Shueisha-Fuji Television Network-Toei Animatio...,2022-06-11,0.0,70000000.0,99,Released,A super awakening and calamity is born.,8.003,1563,Masako Nozawa-Toshio Furukawa-Yuko Minaguchi-H...,android-sequel-attack-based on manga-fighting-...,/rugyJdeoJm7cSJL1q4jBpTNbxyU.jpg,/ugS5FVfCI3RV0ZwZtBV3HAV75OX.jpg,507086-629015-616037-810693-361743-438148-7788...
579974,RRR,Action-Drama,te,A fictional history of two legendary revolutio...,3684.786,Lyca Productions-DVV Entertainment-Pen Studios,2022-03-24,69000000.0,160000000.0,182,Released,"Rise, roar, revolt.",7.858,331,N.T. Rama Rao Jr.-Ram Charan-Alia Bhatt-Ajay D...,revolution-liberation-freedom fighter-british ...,/wE0I6efAW4cDDmZQWtwZMOW44EJ.jpg,/i0Y0wP8H6SRgjr6QmuwbtQbS24D.jpg,601337-889741-587412-766116-792358-680058-2372...
532639,Pinocchio,Fantasy-Adventure-Family,en,A wooden puppet embarks on a thrilling adventu...,3680.307,Walt Disney Pictures-Depth of Field,2022-09-07,0.0,0.0,111,Released,The timeless classic.,6.789,411,Tom Hanks-Benjamin Evan Ainsworth-Luke Evans-C...,fairy-musical-puppet-live action and animation...,/g8sclIV4gj1TZqUpnL82hKOTK3B.jpg,/lv4mA4jOnRSQCkmDYUyZ8ON43Dc.jpg,<NA>
616037,Thor: Love and Thunder,Fantasy-Action-Comedy,en,After his retirement is interrupted by Gorr th...,3643.289,Marvel Studios-Kevin Feige Productions,2022-07-06,250000000.0,758004063.0,119,Released,The one is not the only.,6.803,3233,Chris Hemsworth-Natalie Portman-Christian Bale...,ex-girlfriend-hero-greek mythology-sequel-supe...,/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg,/jsoz1HlxczSuTx0mDl2h0lxy36l.jpg,2-438148-45920-507086-361743-919355-748918-718...

In [87]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 662083 entries, 760741 to 968161
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 662079 non-null  string
 1   genres                454332 non-null  string
 2   original_language     662083 non-null  string
 3   overview              549763 non-null  string
 4   popularity            662083 non-null  Float64
 5   production_companies  296402 non-null  string
 6   release_date          605853 non-null  string
 7   budget                662083 non-null  Float64
 8   revenue               662083 non-null  Float64
 9   runtime               625631 non-null  Int64
 10  status                662083 non-null  string
 11  tagline               94813 non-null   string
 12  vote_average          662083 non-null  Float64
 13  vote_count            662083 non-null  Int64
 14  credits               442009 non-null  string
 15  keywords              184638 non-null  string
 16  poster_path           472057 non-null  string
 17  backdrop_path         187830 non-null  string
 18  recommendations       40009 non-null   string
dtypes: Float64(4), Int64(2), string(13)
memory usage: 105.4 MB

In [88]:
movies = movies.drop(columns=['overview','production_companies','budget','revenue','runtime','status','tagline','vote_average','credits','backdrop_path','recommendations'])
movies.keywords = movies.keywords.fillna('')
movies.head()

,title,genres,original_language,popularity,release_date,vote_count,keywords,poster_path
id,,,,,,,,
760741,Beast,Thriller-Horror,en,5056.663,2022-08-11,284,wild animal,/iRV0IB5xQeOymuGGUBarTecQVAl.jpg
610150,Dragon Ball Super: Super Hero,Animation-Science Fiction-Action,ja,3762.862,2022-06-11,1563,android-sequel-attack-based on manga-fighting-...,/rugyJdeoJm7cSJL1q4jBpTNbxyU.jpg
579974,RRR,Action-Drama,te,3684.786,2022-03-24,331,revolution-liberation-freedom fighter-british ...,/wE0I6efAW4cDDmZQWtwZMOW44EJ.jpg
532639,Pinocchio,Fantasy-Adventure-Family,en,3680.307,2022-09-07,411,fairy-musical-puppet-live action and animation...,/g8sclIV4gj1TZqUpnL82hKOTK3B.jpg
616037,Thor: Love and Thunder,Fantasy-Action-Comedy,en,3643.289,2022-07-06,3233,ex-girlfriend-hero-greek mythology-sequel-supe...,/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg

In [89]:
movies.isna().sum()

title                     4
genres               207751
original_language         0
popularity                0
release_date          56230
vote_count                0
keywords                  0
poster_path          190026
dtype: int64

In [90]:
movies = movies.dropna()

In [91]:
movies.release_date = pd.to_datetime(movies.release_date)
movies.genres = movies.genres.apply(lambda x: x.split('-'))
movies.keywords = movies.keywords.apply(lambda x: x.split('-'))

In [92]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 348035 entries, 760741 to 772736
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title              348035 non-null  string
 1   genres             348035 non-null  object
 2   original_language  348035 non-null  string
 3   popularity         348035 non-null  Float64
 4   release_date       348035 non-null  datetime64[ns]
 5   vote_count         348035 non-null  Int64
 6   keywords           348035 non-null  object
 7   poster_path        348035 non-null  string
dtypes: Float64(1), Int64(1), datetime64[ns](1), object(2), string(3)
memory usage: 24.9+ MB

In [93]:
movies.head(10)

,title,genres,original_language,popularity,release_date,vote_count,keywords,poster_path
id,,,,,,,,
760741,Beast,"[Thriller, Horror]",en,5056.663,2022-08-11,284,[wild animal],/iRV0IB5xQeOymuGGUBarTecQVAl.jpg
610150,Dragon Ball Super: Super Hero,"[Animation, Science Fiction, Action]",ja,3762.862,2022-06-11,1563,"[android, sequel, attack, based on manga, figh...",/rugyJdeoJm7cSJL1q4jBpTNbxyU.jpg
579974,RRR,"[Action, Drama]",te,3684.786,2022-03-24,331,"[revolution, liberation, freedom fighter, brit...",/wE0I6efAW4cDDmZQWtwZMOW44EJ.jpg
532639,Pinocchio,"[Fantasy, Adventure, Family]",en,3680.307,2022-09-07,411,"[fairy, musical, puppet, live action and anima...",/g8sclIV4gj1TZqUpnL82hKOTK3B.jpg
616037,Thor: Love and Thunder,"[Fantasy, Action, Comedy]",en,3643.289,2022-07-06,3233,"[ex, girlfriend, hero, greek mythology, sequel...",/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg
629176,Samaritan,"[Action, Drama, Science Fiction]",en,3589.004,2022-08-25,932,"[superhero, old man, young boy, super power, e...",/vwq5iboxYoaSpOmEQrhq9tHicq7.jpg
539681,DC League of Super-Pets,"[Animation, Action, Family, Science Fiction, C...",en,3493.847,2022-07-27,491,"[superhero, based on comic, super power, after...",/r7XifzvtezNt31ypvsmb6Oqxw49.jpg
766507,Prey,"[Thriller, Action, Science Fiction]",en,3032.842,2022-08-02,3761,"[hunter, alien life, form, prequel, alien, nat...",/ujr5pztc1oitbe7ViMUOilFaJ7s.jpg
960700,Fullmetal Alchemist: The Revenge of Scar,"[Action, Adventure, Fantasy]",ja,2659.996,2022-05-20,81,"[sequel, alchemy, live action anime]",/c5OwwBNyJkwyroIOIJL9IiRjydR.jpg
956101,The Eighth Clause,[Thriller],la,2259.303,2022-04-29,10,[],/8tc8eMFAX2SDC1TRu987qFQy8Cl.jpg

In [94]:
movies.to_csv('data/tmdb-movies-220915-clean.csv')
movies_clean = pd.read_csv('data/tmdb-movies-220915-clean.csv')
movies_clean.head()

,id,title,genres,original_language,popularity,release_date,vote_count,keywords,poster_path
0,760741,Beast,"['Thriller', 'Horror']",en,5056.663,2022-08-11,284,['wild animal'],/iRV0IB5xQeOymuGGUBarTecQVAl.jpg
1,610150,Dragon Ball Super: Super Hero,"['Animation', 'Science Fiction', 'Action']",ja,3762.862,2022-06-11,1563,"['android', 'sequel', 'attack', 'based on mang...",/rugyJdeoJm7cSJL1q4jBpTNbxyU.jpg
2,579974,RRR,"['Action', 'Drama']",te,3684.786,2022-03-24,331,"['revolution', 'liberation', 'freedom fighter'...",/wE0I6efAW4cDDmZQWtwZMOW44EJ.jpg
3,532639,Pinocchio,"['Fantasy', 'Adventure', 'Family']",en,3680.307,2022-09-07,411,"['fairy', 'musical', 'puppet', 'live action an...",/g8sclIV4gj1TZqUpnL82hKOTK3B.jpg
4,616037,Thor: Love and Thunder,"['Fantasy', 'Action', 'Comedy']",en,3643.289,2022-07-06,3233,"['ex', 'girlfriend', 'hero', 'greek mythology'...",/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg

In [95]:
import ast

movies_clean.genres = movies_clean.genres.apply(ast.literal_eval)

In [96]:
genre_dict = [{u:True for u in l} for l in movies_clean.genres.tolist()]

In [97]:
movies_clean = movies_clean.join(pd.DataFrame(genre_dict, index=movies_clean.index).fillna(False))

In [98]:
movies_clean.head()

,id,title,genres,original_language,popularity,release_date,vote_count,keywords,poster_path,Thriller,...,Comedy,TV Movie,Crime,Mystery,War,Romance,Music,History,Documentary,Western
0,760741,Beast,"[Thriller, Horror]",en,5056.663,2022-08-11,284,['wild animal'],/iRV0IB5xQeOymuGGUBarTecQVAl.jpg,True,...,False,False,False,False,False,False,False,False,False,False
1,610150,Dragon Ball Super: Super Hero,"[Animation, Science Fiction, Action]",ja,3762.862,2022-06-11,1563,"['android', 'sequel', 'attack', 'based on mang...",/rugyJdeoJm7cSJL1q4jBpTNbxyU.jpg,False,...,False,False,False,False,False,False,False,False,False,False
2,579974,RRR,"[Action, Drama]",te,3684.786,2022-03-24,331,"['revolution', 'liberation', 'freedom fighter'...",/wE0I6efAW4cDDmZQWtwZMOW44EJ.jpg,False,...,False,False,False,False,False,False,False,False,False,False
3,532639,Pinocchio,"[Fantasy, Adventure, Family]",en,3680.307,2022-09-07,411,"['fairy', 'musical', 'puppet', 'live action an...",/g8sclIV4gj1TZqUpnL82hKOTK3B.jpg,False,...,False,False,False,False,False,False,False,False,False,False
4,616037,Thor: Love and Thunder,"[Fantasy, Action, Comedy]",en,3643.289,2022-07-06,3233,"['ex', 'girlfriend', 'hero', 'greek mythology'...",/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg,False,...,True,False,False,False,False,False,False,False,False,False

In [104]:
movies_clean.index = movies_clean.id
movies_clean = movies_clean.drop(columns=['id'])
movies_clean.title = movies_clean.title.astype("string")
movies_clean.original_language = movies_clean.original_language.astype("string")
movies_clean.release_date = pd.to_datetime(movies_clean.release_date)
movies_clean.poster_path = movies_clean.poster_path.astype("string")
movies_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 348035 entries, 760741 to 772736
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title              348035 non-null  string
 1   genres             348035 non-null  object
 2   original_language  348035 non-null  string
 3   popularity         348035 non-null  float64
 4   release_date       348035 non-null  datetime64[ns]
 5   vote_count         348035 non-null  int64
 6   keywords           348035 non-null  object
 7   poster_path        348035 non-null  string
 8   Thriller           348035 non-null  bool
 9   Horror             348035 non-null  bool
 10  Animation          348035 non-null  bool
 11  Science Fiction    348035 non-null  bool
 12  Action             348035 non-null  bool
 13  Drama              348035 non-null  bool
 14  Fantasy            348035 non-null  bool
 15  Adventure          348035 non-null  bool
 16  Family             348035 non-null  bool
 17  Comedy             348035 non-null  bool
 18  TV Movie           348035 non-null  bool
 19  Crime              348035 non-null  bool
 20  Mystery            348035 non-null  bool
 21  War                348035 non-null  bool
 22  Romance            348035 non-null  bool
 23  Music              348035 non-null  bool
 24  History            348035 non-null  bool
 25  Documentary        348035 non-null  bool
 26  Western            348035 non-null  bool
dtypes: bool(19), datetime64[ns](1), float64(1), int64(1), object(2), string(3)
memory usage: 30.2+ MB

In [106]:
movies_clean.to_csv('data/tmdb-movies-220915-clean.csv')
movies_clean.to_pickle('data/tmdb-movies-220915-clean.pkl')

In [107]:
the_movies = pd.read_pickle('data/tmdb-movies-220915-clean.pkl')
the_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 348035 entries, 760741 to 772736
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title              348035 non-null  string
 1   genres             348035 non-null  object
 2   original_language  348035 non-null  string
 3   popularity         348035 non-null  float64
 4   release_date       348035 non-null  datetime64[ns]
 5   vote_count         348035 non-null  int64
 6   keywords           348035 non-null  object
 7   poster_path        348035 non-null  string
 8   Thriller           348035 non-null  bool
 9   Horror             348035 non-null  bool
 10  Animation          348035 non-null  bool
 11  Science Fiction    348035 non-null  bool
 12  Action             348035 non-null  bool
 13  Drama              348035 non-null  bool
 14  Fantasy            348035 non-null  bool
 15  Adventure          348035 non-null  bool
 16  Family             348035 non-null  bool
 17  Comedy             348035 non-null  bool
 18  TV Movie           348035 non-null  bool
 19  Crime              348035 non-null  bool
 20  Mystery            348035 non-null  bool
 21  War                348035 non-null  bool
 22  Romance            348035 non-null  bool
 23  Music              348035 non-null  bool
 24  History            348035 non-null  bool
 25  Documentary        348035 non-null  bool
 26  Western            348035 non-null  bool
dtypes: bool(19), datetime64[ns](1), float64(1), int64(1), object(2), string(3)
memory usage: 30.2+ MB

In [108]:
the_movies.head()

,title,genres,original_language,popularity,release_date,vote_count,keywords,poster_path,Thriller,Horror,...,Comedy,TV Movie,Crime,Mystery,War,Romance,Music,History,Documentary,Western
id,,,,,,,,,,,,,,,,,,,,,
760741,Beast,"[Thriller, Horror]",en,5056.663,2022-08-11,284,['wild animal'],/iRV0IB5xQeOymuGGUBarTecQVAl.jpg,True,True,...,False,False,False,False,False,False,False,False,False,False
610150,Dragon Ball Super: Super Hero,"[Animation, Science Fiction, Action]",ja,3762.862,2022-06-11,1563,"['android', 'sequel', 'attack', 'based on mang...",/rugyJdeoJm7cSJL1q4jBpTNbxyU.jpg,False,False,...,False,False,False,False,False,False,False,False,False,False
579974,RRR,"[Action, Drama]",te,3684.786,2022-03-24,331,"['revolution', 'liberation', 'freedom fighter'...",/wE0I6efAW4cDDmZQWtwZMOW44EJ.jpg,False,False,...,False,False,False,False,False,False,False,False,False,False
532639,Pinocchio,"[Fantasy, Adventure, Family]",en,3680.307,2022-09-07,411,"['fairy', 'musical', 'puppet', 'live action an...",/g8sclIV4gj1TZqUpnL82hKOTK3B.jpg,False,False,...,False,False,False,False,False,False,False,False,False,False
616037,Thor: Love and Thunder,"[Fantasy, Action, Comedy]",en,3643.289,2022-07-06,3233,"['ex', 'girlfriend', 'hero', 'greek mythology'...",/pIkRyD18kl4FhoCNQuWxWu5cBLM.jpg,False,False,...,True,False,False,False,False,False,False,False,False,False